body {
	background : white;
}
.wrapper {
	position: absolute; 
	width   : 100%;
	height  : 100%;
}

#page-backdrop {
	width      : 1125px;
	margin-top : 30px;
    position   : relative;
    background : #004080;
}

#head {
	width         : 1075px;
	background    : white;
	margin-top    : -20px;
	margin-left   : 24px;
    border     	  : thin solid black;	
}

#logo-container {

	margin : 10px 0px 0px 20px;
}

#news-section {
	width       : 195px;
	height      : 300px;
	background  : #004080;
	position    : absolute;
	margin-left : -64px;
	margin-top  : 29px;
	color       : white;
	padding     : 10px;
	opacity     : 0.9;
	z-index: 10  
}

#news-section label {
	font-weight : bold;
	opacity     : 1;  
}

#side-nav {
	width       : 170px;
	height      : 400px;
	margin-left : 971px;
	margin-top  : -56px;
	position    : absolute;
	z-index     : 20;
}

.custom-nav {
	background    : #004080;
	padding       : 5px;
	border        : thin solid beige;
	margin-bottom : 2px;
}
.custom-nav a {
	color       : white;
	font-weight : bold;  
}
#products-carousel {
	width: 700px;
	margin-top: 100px;
}

#products-carousel img {
	height : 300px;
	width  : 700px;
}

#mid {
	margin-top  : 10px; 	
	width       : 1055px;
	height      : 200px;
	border-top  : thin solid black;
	margin-left : 10px;  
}

#mid ul {
	padding : 0;
	margin  : 0;  
}

#mid a {
	color           : black;
	text-decoration : none; 
}	

.infocard {
	display    : inline-table;
	height     : 216px;
	width      : 226px;
	border     : thin dotted gray;
	margin     : 10px 0px 20px 10px;
	padding    : 10px;
	/*--- ie fixes --- */ 
	zoom       : 1;
 	*display   : inline;
}

.infocard label {
	border-bottom : thin solid blue;
	font-size     : 17px;
}

.infocard p {
	text-align   : justify;
    text-justify : inter-word;
}

#copyright {
	text-align  : center;
	color       : white;
	padding-top : 10px; 
}

/*--- company profile css ----*/
#more-links {
	width       : 195px;
	height      : 300px;
	position    : absolute;
	margin-left : -64px;
	margin-top  : 29px;
	padding     : 10px;
	z-index     : 20;
}
#header-title {
	margin-left : 527px;
	position    : absolute;
	margin-top  : -51px;
	font-family : "Times New Roman", Georgia, Serif;
	
	line-height : 42px; 
	color       : #9FC6E4;
}
#content-text{
	width        : 746px;
	padding-left : 200px;
	margin-top   : 25px;	
}
#content-text p{
	text-indent  : 35px;
	text-align   : justify;
    text-justify : inter-word;
}
#subheader{
	font-size     : 25px;
	font-style    : italic;
	margin-bottom : 10px; 
	color         : #004080;
	text-align    : right; 
	font-weight   : bold;
}

/*----products and services ------*/
.psinfo-header {
	color      : white;
	background : #004080;
	width      : 189px;
	text-align : center;
	float      : left;
}
.psinfo-triangle {
	width       : 0;
	height      : 0;
	border-top  : 20px solid transparent;
	border-left : 20px solid #004080;
	margin-left : 189px; 
}
.psinfo-content {
	border-top  : thin solid #004080;
	width       : 100%;
	padding-top : 10px;   
}
.psinfo-pic {
	float : left;
}
.psinfo-desc {
	padding-left : 171px; 
}
.psinfo-scope {
	font-weight   : bold;
	border-bottom : thin solid #004080;   
}

/*--- histroy table ---*/
table, td {	
	padding-left  : 5px;
	padding-right : 5px;
}
.table-header {
	font-weight :  bold;
	color       : #FFFFFF;
	background  : #004080;
	text-align  : center; 
}
.table-alt {
	background : #9FC6E4;
}
.table-pic {
	width      : 110px;
	background : #004080;
}
.table-ed {
	background: #F5F5F5;
}
/*-- different height for container adjustments----*/
.header-height {
	height : 746px;
}
.header-history {
	height : 1130px;
}
.header-pm {
	height: 1525px;
}
.header-plant {
	height : 3947px;
}
.header-ship {
	height : 1350px;
}
.header-machine {
	height : 1113px;
}
/*---- different font-sizes -----*/
.header-company {
	font-size : 56px;
}
.header-ps {
	font-size : 56px;
}

/*--- common helpers ---*/
.bold {
	font-weight : bold; 
}
.center {
	display    : table;
    margin     : 0 auto;
}

.hide {
	display : none; 
}
.normal-border {
	border : 1px solid black !important;
}
.color-border table, td{
	border : 11px solid white;
}
/*----- responsive css -----*/
@media screen and (max-width: 1202px) {
	#page-backdrop {
		width : 935px;
	}
	#head {
		width : 886px;
	}
	#news-section {
		width       : 175px;
		margin-left : -48px;
	}
	#more-links {
		width       : 159px;
		margin-left : -48px;
	}
	#side-nav {
		width       : 129px;
		margin-left : 802px;
	}
	#header-title {
		margin-left : 397px;
	}
	#content-text {
		width       : 670px;
		padding-left : 126px;
	}
	.infocard {
		width : 179px;
	}
	.infocard label {
		font-size : 15px; 
	}
	#mid {
		width : 864px;
	}
}

@media screen and (max-width: 974px) {
	#side-nav {
		display : none; 
	}
	#news-section {
		display : none; 
	}
	#small-nav {
		display : block !important; 
	}	
}

@media screen and (max-width: 903px) {
	#page-backdrop {
		width      : 100%;
		margin-top : 0px;
		position   : inherit; 
		display    : block !important; 
	}
	#head {
		width   : 100%;
		margin  : 0;
	}
	.infocard {
		height : 176px;
	}
}

@media screen and (max-width: 830px) {
	.infocard {
		height : 116px;
		width  : 363px;
	}
	#mid {
		margin-left : 0;
		width       : auto;
		height      : auto;  
	}
	#wrapper {
		position : block; 
	}
}

@media screen and (max-width: 800px) {
	.infocard {
		height : 116px;
		width  : 361px;
	}
}

@media screen and (max-width: 794px) {
	.infocard {
		width  : 356px;
	}
}
@media screen and (max-width: 768px) {
	.infocard {
		width  : 344px;
	}
}

@media screen and (max-width: 767px) {
	body {
		padding : 0 !important;
	}
}

@media screen and (max-width: 600px) {
	.infocard {
		width  : 261px;
		height : 156px;
	}
}

@media screen and (max-width: 568px) {
	.infocard {
		width  : 244px;
	}
}

@media screen and (max-width: 500px) {
	.infocard {
		width  : 209px;
	}
}

@media screen and (max-width: 414px) {
	.infocard {
		width  : 368px;
		height : 108px;
	}
}

@media screen and (max-width: 400px) {
	.infocard {
		width  : 354px;
	}
}

@media screen and (max-width: 375px) {
	.infocard {
		width  : 331px;
	}
	#logo-container {
		margin-top: 10px;
		margin-left: 4px;
	}
}

@media screen and (max-width: 360px) {
	.infocard {
		width  : 314px;
	}
}

@media screen and (max-width: 320px) {
	.infocard {
		width  : 277px;
	}
}


/*--overide bootstrap css--*/
.navbar {
	margin-bottom : 0px; 
}
.navbar-inverse .navbar-inner {
	background    : #004080;
	border-radius : 0px;
	border        : 0; 
}

/*---- small elements ---*/
#small-nav {
	display    : none;
	width      : 100%;	
}

/*------ temp css -------*/
.main-pic {
	top    : 90px;
	width  : 1075px;
	height : 384px;
}
.newpic{
	background : white;
	position   : absolute;
	z-index    : 10;
	top        : 0;
	left       : 0;
}
