body {
	background : white;
}
.wrapper {
	position: absolute; 
	width   : 100%;
	height  : 100%;
}

#page-backdrop {
	width      : 1125px;
	margin-top : 30px;
    position   : relative;
    background : #004080;
}

#head {
	width         : 1075px;
	background    : white;
	margin-top    : -20px;
	margin-left   : 24px; 
	position      : absolute;
    border     	  : thin solid black;	
}

#logo-container {
	margin : 10px 0px 0px 20px;
}

#news-section {
	width       : 195px;
	height      : 300px;
	background  : #004080;
	position    : absolute;
	margin-left : -64px;
	margin-top  : 29px;
	color       : white;
	padding     : 10px;
	opacity     : 0.9; 
}

#news-section label {
	font-weight : bold;
	opacity     : 1;  
}

#side-nav {
	width       : 170px;
	height      : 400px;
	margin-left : 971px;
	margin-top  : -56px;
	position    : absolute;
	z-index     : 20;
}

.custom-nav {
	background    : #004080;
	padding       : 5px;
	border        : thin solid beige;
	margin-bottom : 2px;
}
.custom-nav a {
	color       : white;
	font-weight : bold;  
}
#products-carousel {
	width: 700px;
	margin-top: 100px;
}

#products-carousel img {
	height : 300px;
	width  : 700px;
}

#mid {
	margin-top : 393px; 
	width      : 1055px;
	height     : 200px;
	border-top : thin solid black;
}

#mid ul {
	padding : 0;
	margin  : 0;  
}

.infocard {
	display    : inline-table;
	list-style-type: none;
	height     : 216px;
	width      : 226px;
	border     : thin dotted gray;
	margin     : 10px 0px 20px 10px;
	padding    : 10px; 
}

.infocard label {
	border-bottom : thin solid blue;
	font-size     : 17px;
}

.infocard p {
	text-align   : justify;
    text-justify : inter-word;
}

#copyright {
	text-align : center;
	color      : white;
}

/*--- company profile css ----*/
#more-links {
	width       : 195px;
	height      : 300px;
	position    : absolute;
	margin-left : -64px;
	margin-top  : 29px;
	padding     : 10px;
}
#header-title {
	margin-left : 527px;
	margin-top  : -51px;
	font-family : "Times New Roman", Georgia, Serif;
	font-size   : 56px;
	line-height : 42px; 
	color       : #9FC6E4;
}
#content-text{
	width       : 746px;
	margin-left : 200px;
	margin-top  : 59px;
}
#content-text p{
	text-indent  : 35px;
	text-align   : justify;
    text-justify : inter-word;
}
#subheader{
	margin-top  : 27px;
	font-size   : 25px;
	font-style  : italic;
	position    : absolute;
	color       : #004080;
	font-weight : bold;
}

/*--- histroy table ---*/
table, td {
	border        : 1px solid black;
	padding-left  : 5px;
	padding-right : 5px;
}
.table-header {
	font-weight :  bold;
	color       : #FFFFFF;
	background  : #004080;
	text-align  : center; 
}
.table-alt {
	background : #9FC6E4;
}
/*-- different height for container adjustments----*/
.header-height {
	height : 746px;
}
.header-history {
	height : 1130px;
}
.backdrop-height {
	height : 837px;
}
.backdrop-history {
	height : 1225px;
}
.copyright-top{
	margin-top : 757px !important;
}
.copyright-history{
	margin-top : 1140px !important;
}


/*--- margin for subheaders ---*/
.subheader-history {
	margin-left : 833px; 
}
.subheader-profile {
	margin-left : 700px; 
}
.subheader-org {
	margin-left : 732px;
}
.subheader-cert {
	margin-left : 718px;
}
.subheader-plant {
	margin-left : 565px;
}
/*--- common helpers ---*/
.bold {
	font-weight : bold; 
}
.center {
	display    : table;
    margin     : 0 auto;
}

.hide {
	display : none; 
}